h1 a{
  color: mediumseagreen;
  text-decoration: none;
}

h2 {
  font-size: large;
}
h2::before {
  content: "■";
  color: mediumseagreen;
}

h3 {
  font-size: medium;
}

section {
  padding-left: 16px;
}