<!DOCTYPE html>

<meta charset="utf-8">
<title>gbp-auto_party</title>
<script src="./scripts/vue.js"></script>
<script src="./scripts/member-item.js"></script>
<script src="./scripts/checkbox-label.js"></script>
<script src="./scripts/radio-label.js"></script>
<script src="./scripts/area-item.js"></script>
<script src="./scripts/script.js"></script>

<div id="app">
  <h1>{{appTitle}}</h1>
  <ul>
    <li v-for="(text, idx) in tabArr" v-on:click="switchTab(idx)">
      {{text}}
    </li>
  </ul>
  <div v-if="currentTab == 0">
    <h2>{{memberHeading}}</h2>
    <div>
      <checkbox-label
        v-for="(visible, idx) in typeVisArr"
        v-bind:visible="visible"
        v-bind:name="typeNames[idx]"
        v-bind:idx="idx"
        v-bind:kind="'type'"
        v-bind:key="idx"
        v-on:checkbox-changed="checkboxChanged($event)"
      ></checkbox-label>
    </div>
    <div>
      <checkbox-label
        v-for="(visible, idx) in bandVisArr"
        v-bind:visible="visible"
        v-bind:name="bandNames[idx]"
        v-bind:idx="idx"
        v-bind:kind="'band'"
        v-bind:key="idx"
        v-on:checkbox-changed="checkboxChanged($event)"
      ></checkbox-label>
    </div>
    <div>
      <checkbox-label
        v-for="(visible, idx) in scoreUpVisArr"
        v-bind:visible="visible"
        v-bind:name="skillExplains[idx]"
        v-bind:idx="idx"
        v-bind:kind="'scoreUp'"
        v-bind:key="idx"
        v-on:checkbox-changed="checkboxChanged($event)"
      ></checkbox-label>
    </div>
    <div>
      <radio-label
        v-for="(option, idx) in sortOptions"
        v-bind:option="option"
        v-bind:init="membersOrder.sortOption == idx"
        v-bind:key="idx"
        v-on:radio-changed="radioChanged($event)"
      ></radio-label>
      <select v-model="membersOrder.value" v-on:change="orderChanged()">
        <option v-for="(text, idx) in membersOrder.list" v-bind:value="idx">
          {{text}}
        </option>
      </select>
    </div>
    <ul>
      <li
        is="member-item"
        v-for="m in visibleMembers"
        v-bind:member="m"
        v-bind:key="m.id"
      ></li>
    </ul>
  </div>
  <div v-if="currentTab == 1">
    <h2>所持アイテム</h2>
    <ul v-for="itemsOfArea in dividedItems">
      <li
        is="area-item"
        v-for="item in itemsOfArea"
        v-bind:item="item"
        v-bind:key="item.id"
      ></li>
    </ul>
  </div>
  <div v-if="currentTab == 2">
    <h2>イベントボーナス</h2>
    <h3>タイプ（+20%）</h3>
    <ul>
      <li v-for="(type, idx) in typeNames">
        {{type}}
      </li>
    </ul>
    <h3>キャラクター（+10%）</h3>
    <ul v-for="band in 5">
      <li
        v-for="(name, idx) in charaShortNames.slice(5*(band - 1), 5*band)"
      >
        {{name}}
      </li>
    </ul>
    <h3>パラメータ（タイプとキャラクター両方一致で+50%）</h3>
    <ul>
      <li v-for="(parameter, idx) in parameterNames">
        {{parameter}}
      </li>
    </ul>
  </div>
</div>
<!--<input id="test-button" type="button" value="BUTTON">-->
